# Device
DEVICE_ID={-------}

# Camera settings
CAMERA_URL="rtsp://{-------}:{-------}@192.168.1.108/stream1"
CAMERA_TYPE=rtsp

# Database
DB_HOST=localhost
DB_PORT={-------}
DB_USER={-------}
DB_PASSWORD={-------}
DB_NAME={-------}

# Tapo CCTV settings
TAPO_CCTV_IP=192.168.1.108
TAPO_CCTV_USER={-------}
TAPO_CCTV_PASSWORD={-------}
TAPO_CCTV_SECRET={-------}

# Redis
REDIS_HOST={-------}
REDIS_PORT={-------}
REDIS_PASSWORD={-------}

# MQTT broker
MQTT_BROKER={-------}
MQTT_PORT={-------}
MQTT_USER={-------}
MQTT_PASS={-------}
CLIENT_MQTT_ID={-------}

# HTTPS
HTTPS_API_KEY={-------}